body {
	padding: 0;
	margin: 0;
	background: lightblue;
	font-family: Gotham Rounded, sans-serif;
}

#main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	text-align: center;
    color: black;
}

.title {
	font-size: 2em;
	font-weight: 600;
}

.appButtons > a {
	display: inline-block;
	border-radius: 4px;
	border: black solid 2px;
	background-color: #00AAFF;
	color: black;
	text-align: center;
	font-size: 28px;
	padding: 10px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	text-decoration: none;
}

.appButtons > a:hover {
	opacity: 0.9;
	background-color: navy;
	color: white;
}

.calcGrid {
	display: grid;
	justify-content: center;
	align-content: center;
	min-height: 50vh;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calcGrid > button {
	font-size: 2rem;
	border: 1px solid black;
	outline: none;
	background-color: rgba(white, 0.7);
	font-weight: bold;
}

.calcGrid > button:hover {
	cursor: pointer;
	opacity: 0.6;
}

.calcGrid .twoSpaces {
	grid-column: span 2;
}

.calcGrid .outputScreen {
	grid-column: 1 / -1;
	background-color: rgba(0, 0, 0, 0.75);
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	flex-direction: column;
	padding: 10px;
	word-wrap: break-word;
	word-break: break-all;
}

.calcGrid .outputScreen .previousOperand {
	color: gray;
	font-size: 1.5rem;
	font-weight: bold;
}

.calcGrid .outputScreen .currentOperand {
	color: white;
	font-size: 2.5rem;
	font-weight: bold;
}

.tttScores {
	display: block;
	margin: 10px;
}

.tttScores > span {
	text-align: center;
	font-size: 20px;
	margin: 0px 20px;
	font-weight: bold;
}

.tttGrid {
	display: grid;
	justify-content: center;
	align-content: center;
	min-height: 50vh;
	grid-template-columns: repeat(3, 100px);
	grid-template-rows: repeat(3, 100px);
}

.tttGrid > button {
	font-size: 5rem;
	font-weight: bold;
}

.tttOptions > button {
	display: inline-block;
	border-radius: 4px;
	border: black solid 2px;
	background-color: #00AAFF;
	color: black;
	text-align: center;
	font-size: 28px;
	padding: 10px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 10px;
	text-decoration: none;
}

.tttOptions > button:hover {
	opacity: 0.9;
	background-color: navy;
	color: white;
}

.tttOptions > .tttColors {
	display: block;
	margin: 10px;
}

.tttOptions > .tttColors > span {
	text-align: center;
	font-size: 28px;
	margin: 5px;
	width: 200px;
	font-weight: bold;
}

.tttOptions > .tttColors > span > input {
	cursor: pointer;
	vertical-align: top;
}

#footer {
	text-align: center;
	background-color: black;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100vw;
}

.socials i {
	padding: 10px;
    font-size: 2em;
    color: white;
}